@model HospitalManagement.Models.HospitalModel.DossiersMedicaux

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DossiersMedicaux</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Diagnostic" class="control-label"></label>
                <input asp-for="Diagnostic" class="form-control" />
                <span asp-validation-for="Diagnostic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId">Sélectionnez le patient :</label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients">
                    <option value="">Sélectionnez un patient</option>
                </select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedecinId">Sélectionnez le médecin :</label>
                <select asp-for="MedecinId" class="form-control" asp-items="ViewBag.Medecins">
                    <option value="">Sélectionnez un médecin</option>
                </select>
                <span asp-validation-for="MedecinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RendezVousId" class="control-label"></label>
                <select asp-for="RendezVousId" class ="form-control" asp-items="ViewBag.RendezVousId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
